.carousel {
  overflow-y: hidden;
  scrollbar-width: none;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 30px;
  overflow: scroll;
  /* border: 1px solid red; */
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.carousel__container {
  white-space: nowrap;
  max-width: 700px;
  /* border: 1px solid green; */
}

.carousel-item {
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-align: center;
  position: relative;
  /* border: 1px solid blue; */
}

.carousel-item__img {
  width: 65px;
  height: 60px;
  border-radius: 50%;
}

.carousel-item__description {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  text-align: center;
}
