* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Home {
  max-width: 1000px;
  border: 1px solid red;
  margin: 0 auto;
}

.Home-container {
  display: grid;
  width: 100%;
  grid-template: 1fr / 2fr 1.1fr;
  /* border: 1px solid green; */
}

.container-Hero__logo {
  display: flex;
}

.Home-container__left {
  padding: 15px;
  min-width: 100%;
}

.Home-container__right {
  min-width: 100%;
  padding: 15px;
}
