header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 54px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  width: 1000px;
}

.container .container_img {
  width: 250px;
}

.container .container_img img {
  height: 50px;
}

.main_input {
  margin-right: 80px;
}

.container .main_input {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main_input_container {
  width: 230px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border-radius: 3px;
}

.container .main_input input {
  width: 90px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

.container .main_input .search_icon {
  background-image: url("../../img/lupa.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 10px;
  height: 10px;
  padding-left: 12px;
}

.main_icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.main_icons .main_icons__home {
  background-image: url("../../img/home.png");
  background-repeat: no-repeat;
  height: 25px;
  width: 100%;
  margin-right: 25px;
}

.main_icons .main_icons__message {
  background-image: url("../../img/enviar.png");
  background-repeat: no-repeat;
  margin-right: 25px;
  width: 100%;
  height: 25px;
}

.main_icons .main_icons__compass {
  background-image: url("../../img/brujula.png");
  background-repeat: no-repeat;
  margin-right: 25px;
  width: 100%;
  height: 25px;
}

.main_icons .main_icons__heart {
  background-image: url("../../img/corazon.png");
  background-repeat: no-repeat;
  margin-right: 25px;
  width: 100%;
  height: 25px;
  position: relative;
}

.main_icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.main_icons__me {
  background-image: url("../../img/user.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.main_icons__heart--containerHover {
  width: 450px;
  height: 250px;
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #dbdbdb;
  display: none;
}

.main_icons__heart:focus .main_icons__heart--containerHover,
.main_icons__heart--containerHover:focus {
  display: block;
}

@media screen and (max-width: 950px) {
  .container {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    width: 100%;
  }

  .container .container_img {
    width: auto;
  }

  .container .main_input {
    margin: 0 auto;
  }

  .main_icons {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: block;
    height: 44px;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .main_input {
    margin-right: 0;
  }

  .container .main_input {
    width: auto;
  }

  .container .main_input_container {
    width: auto;
  }

  .main_icons .main_icons__home,
  .main_icons__compass,
  .main_icons__heart,
  .main_icons__me,
  .container .main_input {
    display: none;
  }
}
