.HomePersonajes {
  max-width: 1000px;
  margin: 0 auto;
}

.HomePersonajes-container {
  display: grid;
  grid-template: 1fr / 0.5fr 1fr;
  width: 80%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePersonajes-container__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePersonajes-container__img img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.HomePersonajes-container__info {
  display: grid;
  grid-template: 0.5fr 0.5fr 1fr / 1fr;
}
.info-nameAndButtons {
  display: flex;
  align-items: center;
}

.info-nameAndButtons__name {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin-right: 10px;
}

.info-nameAndButtons__follow {
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 24px;
  background: #0095f6;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  margin-right: 10px;
}

.info-nameAndButtons__more {
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 12px;
  background: #0095f6;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  margin-right: 10px;
}

.info-nameAndButtons__options {
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 900;
  font-size: 25px;
}

.info-followers {
  display: flex;
  align-items: center;
}

.info-followers span {
  margin-right: 40px;
  font-size: 16px;
}

.info-followers a {
  margin-right: 40px;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.info-name h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .HomePersonajes {
    max-width: 320px;
  }

  .HomePersonajes-container {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
    margin-top: 10px;
  }

  .HomePersonajes-container__img img {
    width: 40%;
  }

  .HomePersonajes-container__info {
    grid-template: 0.5fr 0.5fr 0.3fr / 1fr;
  }

  .info-nameAndButtons {
    justify-content: center;
    flex-direction: column;
  }

  .info-nameAndButtons__name {
    font-size: 16px;
    margin: 0;
  }

  .info-nameAndButtons__follow {
    padding: 0 16px;
    margin: 5px 0;
  }

  .info-nameAndButtons__more {
    margin: 0;
  }

  .info-followers span {
    margin: 0 5px;
  }

  .info-followers a {
    margin: 0;
  }

  .info-name {
    margin: 5px;
    height: 10px;
  }

  .containerPhotos {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
    grid-gap: 3px 3px;
  }

  .containerPhotos img {
    width: 100%;
    height: 100px;
  }
}
